.sakura {
    max-width: 40%;
    margin: auto;
}

@media only screen and (max-width: 850px) {
    .sakura {
        max-width: 60%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .sakura {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 480px) {
    .sakura {
        max-width: fit-content;
        margin: auto;
    }
}